.header {
  margin: 0 auto;
  font-size: 2rem;
  background-color: cadetblue;
  width: 60%;
}

.header h1 {
  text-align: center;
  word-break: break-all;
}

@media screen and (min-width: 768px){
  .header {
    background-color: cyan;
    width: 90%;
  }
}

@media (max-width: 370px) {
  .header {
    background-color: red;
    width: 30%;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .header {
    background-color: rgb(251, 255, 0);
    width: 90%;
  }
}
